* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Goudos';
  src: url('./fonts/GOUDOS.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}


body {
  background-color: #F9F8F4;
}

.div-welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 0 0;
  font-size: 19px;
  margin-bottom: 50px;
}
.welcome-text {
  color: #587559;
  font-family: 'Goudos', sans-serif;
  margin-bottom: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  max-width: 550px;    /* Ajusta el máximo donde caben 2 líneas */
  text-wrap: balance;  /* Hace más bonita la distribución */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.welcome-img {
  width: 100%;
  max-width: 500px;
}

.div-imagen {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.img-2 {
  width: 100%;
  max-width: 500px;
}

.div-protocolo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.img-protocolo {
  width: 60%;
  max-width: 300px;
}

.div-img4 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.img-4 {
  width: 100%;
  max-width: 500px;
}

.div-img5 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.img-5 {
  width: 100%;
  max-width: 500px;
}

.div-music {
  position: fixed;
  bottom: 20px;   /* ↓ Ahora está abajo */
  right: 20px;    /* → Pegado a la derecha */
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 9999;
}

/* Botón cuadrado */
.music-btn {
  width: 35px;
  height: 35px;
  background-color: #587559;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}

/* Icono de play */
.music-btn::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 8px;
  width: 0;
  height: 0;
  border-left: 14px solid white;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
}

.music-btn.pause::before {
  display: none;
}

/* Mensaje */
.music-msg {
  background: #ffffffd2;
  padding: 6px 10px;
  border-radius: 6px;
  color: #587559;
  font-size: 14px;
  font-family: sans-serif;
  animation: fadeIn 0.3s ease;
}

/* Animación */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
