* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Goudos';
  src: url('./fonts/GOUDOS.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}


body {
  background-color: #F9F8F4;
}

.div-welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  font-size: 19px;
}
.welcome-text {
  color: #587559;
  font-family: 'Goudos', sans-serif;
  margin-bottom: 30px;
  font-weight: 500;
  letter-spacing: 2px;
}
.welcome-img {
  width: 100%;
  max-width: 500px;
}

.div-imagen {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.img-2 {
  width: 100%;
  max-width: 500px;
}

.div-protocolo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.img-protocolo {
  width: 60%;
  max-width: 300px;
}

.div-img4 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.img-4 {
  width: 100%;
  max-width: 500px;
}

.div-img5 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.img-5 {
  width: 100%;
  max-width: 500px;
}